.container {
  margin-left: 20% !important;
  margin-right: 20% !important;
  margin-top: 15px !important;
  max-width: 1024px !important;
  display: flex;
}

.column {
  margin-top: 8px;
}

.animated {
  @-webkit-keyframes ${animationName} {
    10% {-webkit-transform:translate(${Math.random() * 300}px, ${Math.random() * 300}px)} 
    90% {-webkit-transform:translate(${Math.random() * 300}px, ${Math.random() * 300}px)}
    100% {-webkit-transform:translate(${Math.random() * 300}px, ${Math.random() * 300}px)}
};
}